@CHARSET "UTF-8";

#logo{
width: 600px;
}

.parkImage img{
border-color: white;
border-width: 20px;
border-style: solid;
float: left;
width: 500px;
margin: 0px 20px 0px 0px;
vertical-align: top;
border-radius: 40px;

}

.dateInput {
inputsize: 20;
}

.tempy{
background-color: lightgray;
width: 50%;
padding: 0px 5px 0px 5px;
}

body{
background-color: #ccff99  ;
}

.park{
background-color: white;
border-radius: 25px;
padding: 10px;
list-style-type: none;
display: inline-block;
margin: 10px;
width: 30%;
vertical-align: top;
}
li img{
width: 95%;
margin: 10px;
display: block;
border-radius: 25px;

}

table, th, td {
font-weight: normal;
border: 1px solid black;
background-color: white;
}

table, th{
font-weight: bold;
}

.3items{
display: inline-block;

}

.today{
display: inline-block;
vertical-align: top;
margin: 20px;
}

.bigPicture{
vertical-align: top;
float: left;

}

.bigPicture img{
width: 200px;
border-style: outset;
border-radius: 25px;
vertical-align: top;

}

td {
width: 10em;
text-align: center;
text-style: bold;
}
th{
width: 5em;

}

.weatherDisplay img{
width: 100%;

}
.advice{
display: inline-block;
vertical-align: top;
width: 30%;